<!-- Container -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row justify-content-center full_height align-items-center">
                <div class="col-md-6 col-sm-12">
                    <!-- Card -->
            <div class="card text-white bg-dark border-primary">
                <div class="card-body">
                  <h5 class="card-title">Chat App 3</h5>
                  <h6 class="card-subtitle mb-2 text-muted">By Anurag R W</h6>
                  <!-- Forms -->
                    <form>
                    <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">User Name</label>
                  <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">Yes, the username I gave</div>
                    </div>
                    <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                <button type="submit" class="btn btn-primary">Log-In</button>
              </form>
            <!-- From Ends -->
                </div>
                <div class="card-footer bg-transparent border-primary">Read 'About' if you are not sure what this is</div>
              </div>
            <!-- Card Ends -->
                </div>
            </div>
        </div>
    </div>
</div>